<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>laposte929c860468fcd69</string>
	<key>appPrivateKey</key>
	<string>8705816e594de414644b917d3d5a516bf26f63df</string>
</dict>
</plist>
